body{
	background-color: #c9c9c9;
}
.logo{
	position:static; 
	height: 100%; 
	width: 100%; 
	top:0;
	left:0;
}

.container {
    text-align: center;
    margin: 50px;
    background: #9ad3de;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 50px -6px rgba(0,0,0,0.66);
}

.metanav{
	background-color: #e3e3e3;
	margin: 10px;
	padding: 10px;
}

.metanav a:link, .metanav a:visited{
	color: #000;
}

.metanav a:hover, .metanav a:active{
	color: #000;
}
