<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<meta name="google-site-verification" content="NDK8IVg8R5UkCL71SZjRuem_eylBYzobDMIEOuvsekk" />

<title>Pin Drops</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='index.css') }}">
<div class=metanav>
	<a href="{{url_for('search')}}">Home</a>
  {% if not session.logged_in %} 
    <a href="{{ url_for('login') }}">Log In</a>
  {% else %}
    <a href="{{url_for('logout') }}">Log Out</a>
    <a href="{{url_for('delete') }}">Delete Account</a>
  {% endif %}
</div>
<div class="logo" align="center">
<img src="http://i68.tinypic.com/27yy4ab.png" border="0" alt="Pin Drops">
</div>

{% block body %}{% endblock %}

</html>
