{% extends "index.html" %}
{% block body %}
	<h2>Login</h2>
	{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
	<form action="{{ url_for('login') }}" method=post class="container">
		<dl>
        	<dt class="login">Email
	    		<dd><input type="text" size="30" placeholder="Enter Email" name=email required>
    		<dt class="login">Password
    			<dd><input type="password" size="30" placeholder="Enter Password" name=password required>
    		<dd><input type=submit value=Login class="login">
    		<dd><p>Don't have an account? <a href="{{ url_for('add_entry') }}">Sign Up</a></p>
  		</dl>
	</form>
{% endblock %}
