{% extends "index.html" %}
{% block body %}
<meta name="google-site-verification" content="NDK8IVg8R5UkCL71SZjRuem_eylBYzobDMIEOuvsekk" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='search.css') }}">
<script type ="text/javascript"  src="{{url_for('static', filename='search.js')}}"></script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='map.css') }}">
<script type ="text/javascript"  src="{{url_for('static', filename='map.js')}}"></script>

<center>


<form action="{{ url_for('search') }}" method=post class="search container">
<select name=selection class="div-toggle" data-target=".my-info-1">
  <option value="SELECT ONE" data-show=".select">SELECT SEARCH CATEGORY</option>
  <option value="Actor" data-show=".actor">Actor</option>
  <option value="Movie" data-show=".movie">Movie</option>
  <option value="Location" data-show=".location">Location</option>
</select>

<div class="my-info-1">
  <div class="actor hide">
        <center><h2>Search for an actor</h2></center>
    <dl>
      <dt class="search">First Name
        <dd><input type="text" size="30" placeholder="Enter First Name" name=firstName>
      <dt class="search">Last Name
        <dd><input type="text" size="30" placeholder="Enter Last Name" name=lastName>
      <dd><input type=submit value="Search" class="search">
    </dl>
  </div>

  <div class="movie hide">
  <center><h2>Search for a movie</h2> </center>
    <dl>
      <dt class="search">Movie Name
        <dd><input type="text" size="30" placeholder="Enter Movie Name" name=movieName>
      <dd><input type=submit value="Search" class="search">
    </dl>
</div>

  <div class="location hide">
  <center><h2>Search for a location</h2></center>
    <dl>
      <dt class="search">City Name
        <dd><input type="text" size="30" placeholder="Enter City Name" name=cityName>
      <dt class="search">State Name
        <dd><input type="text" size="30" placeholder="Enter State Name" name=stateName>
      <dt class="search">Country Name
         <dd><input type="text" size="30" placeholder="Enter Country Name" name=countryName>

        <center><dd><input type=submit value="Search" class="search"></center>
    </dl>
  
  </div>

</form>

</center>
<center>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4MqA0AuxfTMGkp-hROa0UQlxhogxdtHI&callback=initMap">
</script>
<div id="map"></div>
</center>
{% if store %}
<!--	<div class="result">
		{% for item in store %}
			{{item}}
		{% endfor %}
	</div>-->
<!--<div class="map">
</div>-->
	<div class="advanced">
		<br>
		<button onclick="admissions()">View Admissions</button>
		<div class= "graphs" id="admissions">
			{{admissions|safe}}
		</div>
		<br>
		<button onclick="revenue()">View Revenue</button>
		<div class= "graphs" id="revenue">
			{{revenue|safe}}
		</div>
		<br>
		<button onclick="budget()">View Budget</button>
		<div class= "graphs" id="budget">
			{{budget|safe}}
		</div>
		<br>
		<button onclick="genres()">View Genres</button>
		<div class= "graphs" id = "genres">
			{{genres|safe}}
		</div>
		<br>
		{{advanced1}}
		<br>
		{{advanced2}}
	</div>
{% endif %}
{% endblock %}



