{% extends "index.html" %}
{% block body %}
	<h2>Sign Up</h2>
	{%if error %}<p class=error><strong>Error:</string> {{error}}{%endif%}
    <form action="{{ url_for('add_entry') }}" method=post class="add-entry container">
    <dl>
      <dt class="login">First Name
        <dd><input type="text" size="30" placeholder="Enter First Name" name=firstName required>
      <dt class="login">Last Name
        <dd><input type="text" size="30" placeholder="Enter Last Name" name=lastName required>
      <dt class="login">Email
        <dd><input type="text" size="30" placeholder="Enter Email" name=email required>
      <dt class="login">Password
        <dd><input type="password" size="30" placeholder="Enter Password" name=password required>
      <dd><input type=submit value="Sign Up" class="login">
    </dl>
  </form>
{% endblock %}
