{% extends "index.html" %}
{% block body %}

{{message}}
<form action="{{ url_for('update') }}" method=post class="container">
<dl>
	<dt class="login">Email
		<dd><input type="text" size="30" placeholder="Enter Email" name=email required>
	<dt class="login">Old Password
		<dd><input type="password" size="30" placeholder="Enter Password" name=Opassword required>
	<dt class="login">New Password
		<dd><input type="password" size="30" placeholder="Enter Password" name=Npassword required>
	<dd><input type=submit value=Update class="login">
	</dl>
</form>

{% endblock %}
